/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



h1,
p {
    margin: 0 2vw;
}

nav button{
    margin: .2rem 2vw; 
    background: transparent;
    border: none;
    font-size: 2rem;
     ;
}




nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    font-size: larger;
    align-items: flex-end;
}

nav ul li a:hover{
    background-color: rgb(96, 158, 197);
}

nav ul li.fresh a{
    background-color: aliceblue;
}

nav ul {display: none;}
nav ul.open {display: block;}
#bountiBtn span:nth-child(1) {display: block}
#bountiBtn span:nth-child(2) {display: none}

#bountiBtn.open span:nth-child(1) {display: none}
#bountiBtn.open span:nth-child(2) {display: block}


header {
    background-color: #f77140;
    padding: 5px 0;
    display: flex;
    align-items: center;
   justify-content: space-around ;
   
    margin: 0 auto;
    
   

}

.hbh4 {
    color: white;
    font-family: philosopher;
    text-align: left;
    font-size: small;
    flex-direction: column;
    margin-left: 1em;





}

.boutlo {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    align-items: center;
    margin-left: 4em;
}



.social {
    margin-right: 1rem;
    margin-right: 100px;
    margin-left: 1em;

}

.social svg {
    width: 20px;
    height: auto;

}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
 }
 
 .hero{
     grid-column: 1/5;
     grid-row: 1;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     display: grid;
     
 }
 
 .imgh{
     grid-column: 1/7;
     grid-row: 1;
 }
 
 .fimg{
    
     width: 100%;
     height: 500px;
 }
 
 
 .herobut {
    
     background-color:rgb(96, 158, 197);
     z-index: 1;
     height: 40px;
     width: 250px;
     margin-top: 9em;
     margin-left: 1em;
     
     grid-column: 2/5;
    grid-row: 1;
     border-radius: 20%;
     border: solid white;
     font-family: Philosopher;
 
 }
 .butcol{
     color: rgb(243, 243, 128);
     font-size: medium;
 }
 
 .heroh2{
     grid-column: 1/7;
     grid-row: 1; 
   text-align: center;
     margin-top: 5em;
     font-family: 'Cormorant Garamond', serif; ;
     color: rgb(243, 243, 128);
     font-size:larger;
     text-shadow: 0 0 10px #f77140;
 }
 
 




.fimg{

    width: 100%;
    height: 280px;
}


.date{
    grid-column: 1/7;
    grid-row: 1; 
    text-align: center;
  background-color: rgb(96, 158, 197);
    font-family: 'Cormorant Garamond', serif; ;
    color: rgb(243, 243, 128);
    font-size:larger ;
    text-shadow: 0 0 15px #f77140; 
}


.costbo{
    
    grid-column: 1/8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 50px;
  
    gap: 10px;
    background-color: #f1cfc2;

    border: solid #f76834;

}




div.costbo picture img {
    height: 105px;
    width: 105px;
    object-fit: cover;
    object-position: center;
    box-shadow: 2px 4px 7px #f76834;
    grid-column: 1/2;
    grid-row: 1/3;
    margin: 10px;
    margin-top: 4em;
  
}

picture img.in {
    animation: img-come-in 1s;
}

@keyframes img-come-in {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


.ptu{
    grid-row: 1;
    grid-column: 2/8;
    font-family:Philosopher ;
    color: #f55216;
    font-size: small;
    margin-top: 3.5em;
    text-align: left;
  

}

.tuh3{
    grid-column: 2/8;
        grid-row: 1;
        text-align: center;
        color:#f55216 ;
        font-family: 'Cormorant Garamond', serif;;
        font-size: large;
        text-shadow: 0 0 30px rgb(248, 206, 151);
        
}


/*----------- Footer --------------*/

footer {
    background-color: #f77140;
    padding: 5px 0;
    display: grid;
    align-items: center;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
    margin: 0 auto;

}


.lofo{
    height: 130px;
    width: 130px;
    border-radius: 100%;
    align-items: center;
    margin-left: 5em;
    grid-column: 2/5;
   
   
}

.h3foo{
    color: white;
    grid-row: 2;
    grid-column: 1/8;
    text-align: center;
}

.pfoo{
    color: white;
    grid-row: 3;
    grid-column: 1/8;
    text-align: center; 
}


.h2foo{
    color: white;
    grid-row: 4;
    grid-column: 1/8;
    text-align: center;  
}

.p2f{
    color: white;
    grid-row: 5;
    grid-column: 1/8;
    text-align: center;     
}

#lastModified{
    color: white;
    grid-row: 6;
    grid-column: 1/8;
    text-align: center;   
}



/*----------- Weather --------------*/

.weath{
    grid-column: 1/6;
    background-color:#f1e5e1 ;
    text-align: center;
    
}

.weah2{
    color: #f55216;
    font-family:'Cormorant Garamond', serif;;
}

.pw{
    color: #f55216;
    font-family:philosopher; 
}


#current-temp{
    color: rgb(96, 158, 197);
}

.sw{
    color: rgb(96, 158, 197);  
}

.hu{
    color: #f55216;
    font-family:philosopher;  
}

.hus{
    color: brown;
}

.ccw{
    color: #f55216;
    font-family:philosopher; 
}

/*------ Form .....*/





.red{
    color: red;
}



div.formjoi2 form{
    background-color: #f55216;
    color: white;
    margin: 1em  5vw;
    padding: 2rem;
   grid-column: 1/2;
    box-shadow: 0 3px 8px 0px goldenrod;
    font-family:Philosopher ;
    width: 90%;
   
   

}
    

  
   
    form fieldset label{
        display: block;
        margin: 1rem;
    }
    
    form #form label{
        display: inline;
    }
    
    .input-box{
        width: 100%;
        padding: 10px .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: rgb(96, 158, 197);
        background-color: antiquewhite;
        border: 1px solid rgb(96, 158, 197);
        border-radius: 0.25rem;
        max-width: 500px;
        line-height: 1.5rem;
    }
    
    .input-box:focus{
        animation: border-color ease-in-out;
        border: 1px solid rgb(96, 158, 197);
        outline: none;
        transition: .15s;
        box-shadow: 0 0 15px 1px rgb(96, 158, 197)
    
    }
   
    
    #submitBtn{
        color: white;
        border: none;
        padding: 1rem;
        background-color: rgb(96, 158, 197);
        cursor: pointer;
        margin: 1rem;
        font-size: 1rem;
        border-radius: 8px;
        align-items: center;
        
    }
    
    #submitBtn:hover{
        transition: 0.2s;
        background-color:rgb(243, 243, 128) ;
    }

    
    
  .jsshow{
    text-align: center;
    background-color:rgb(173, 124, 196) ;
    color: rgb(245, 245, 94);
    width: 100%;
    align-content: center;
    border-radius: 15px;
 margin: 8px;
 padding: 1px;
   
  }


  #datea{
  
    padding: 10px .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: black;
    background-color: white;
    border: 1px solid rgb(96, 158, 197);
    border-radius: 0.25rem;
    max-width: 500px;
    line-height: 1.5rem;  
    text-align: center;
}

strong{
    color: #441403;
}

#select{
    
    background-color:#f55216 ;
  
   
   font-family: philosopher;
    
    color: rgb(245, 245, 94);
  }