html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
p {
    margin: 0 2vw;
}

nav button{
    margin: .2rem 2vw; 
    background: transparent;
    border: none;
    font-size: 2rem;
    color-scheme: red ;
}


nav {
    background-color: #ff4500;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;
    pad: .8rem 2vw;
    text-decoration: none;
    color: black;
    border-top: 1px solid white;
}

nav ul li a:hover{
    background-color: white;
}

nav ul li.fresh a{
    background-color: aliceblue;
}

nav ul {display: none;}
nav ul.open {display: block;}
#bountiBtn span:nth-child(1) {display: block}
#bountiBtn span:nth-child(2) {display: none}

#bountiBtn.open span:nth-child(1) {display: none}
#bountiBtn.open span:nth-child(2) {display: block}