/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



h1,
p {
    margin: 0 2vw;
}

nav button{
    margin: .2rem 2vw; 
    background: transparent;
    border: none;
    font-size: 2rem;
     ;
}




nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    font-size: larger;
    align-items: flex-end;
}

nav ul li a:hover{
    background-color: rgb(96, 158, 197);
}

nav ul li.fresh a{
    background-color: aliceblue;
}

nav ul {display: none;}
nav ul.open {display: block;}
#bountiBtn span:nth-child(1) {display: block}
#bountiBtn span:nth-child(2) {display: none}

#bountiBtn.open span:nth-child(1) {display: none}
#bountiBtn.open span:nth-child(2) {display: block}


header {
    background-color: #ff4500;
    padding: 5px 0;
    display: flex;
    align-items: center;
   justify-content: space-around ;
   
    margin: 0 auto;
    
   

}

.hbh4 {
    color: white;
    font-family: philosopher;
    text-align: left;
    font-size: small;
    flex-direction: column;
    margin-left: 1em;





}

.boutlo {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    align-items: center;
    margin-left: 4em;
}



.social {
    margin-right: 1rem;
    margin-right: 100px;
    margin-left: 1em;

}

.social svg {
    width: 29px;
    height: auto;

}
















