@media only screen and (min-width: 64rem) {

    nav ul li a {
        padding: .5rem 1rem;
    }

    #banner-header {
        text-align: center;
        background-color: goldenrod;
        color: #112e42;
    }

    main {

        padding: 5px 0;
        display: block;
        align-items: center;
        justify-content: space-between;
        max-width: 1500px;
        margin: 0 auto;
        border-bottom: 1px solid #bbb;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 200px 200px 200px;
        gap: 10px;

    }

    .eve {
        grid-column: 1 / 3;
        grid-row: 1;
        background-color: #112e42;
        height: 100%;
        width: 100%;
        border: solid antiquewhite;
        display: grid;
        grid-template-columns: 1fr;


    }

    .eveh3 {
        width: 100%;
        grid-column: 1/2;
        text-align: center;
        color: antiquewhite;
        text-shadow: 0 0 30px rgb(248, 206, 151);
        font-family: cinzel;
        font-size: large;


    }

    .evep {
        color: antiquewhite;
        text-align: center;
        grid-column: 1/2;
        margin-bottom: 2em;
        font-family: Philosopher;
        font-size: large;
    }

    .beve {
        color: gold;

        font-family: Philosopher;

    }

    .weath {
        grid-column: 1/3;
        grid-row: 2;
        background-color: #112e42;
        height: 100%;
        width: 100%;
        border: solid antiquewhite;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;

    }

    .weah2 {
        text-align: center;
        grid-column: 1/5;
        color: antiquewhite;
        text-shadow: 0 0 30px rgb(248, 206, 151);
        grid-row: 1;
        font-family: cinzel;
    }

    .weah1 {
        grid-column: 2;
        text-shadow: 0 0 30px rgb(248, 206, 151);
        grid-row: 2;

        width: 80px;
        height: 80px;
    }

    .h1nuwea {
        grid-column: 3;
        color: antiquewhite;
        grid-row: 2;
        font-size: x-large;
    }

    .weah4 {
        color: antiquewhite;
        grid-column: 3/6;
        grid-row: 2;
        margin-top: 2em;
        font-size: large;
    }

    .weahr {
        grid-column: 1/5;
        grid-row: 2;
        width: 100%;
        margin-top: 6em;
    }

    .weap {
        grid-column: 1/5;
        grid-row: 3;
        color: antiquewhite;
        margin-bottom: 2em;
        font-size: medium;
        text-align: left;
        margin-left: 1em;
    }

    #windChill {
        grid-column: 1/8;
        grid-row: 3;
        color: antiquewhite;
        margin-bottom: 2em;
        font-size: medium;
        text-align: center;
        margin-left: 13em;

    }

    .joi {
        grid-column: 1/3;
        grid-row: 3;
        background-color: rgb(245, 234, 173);
        height: 100%;
        width: 100%;
        border: solid antiquewhite;
        display: grid;
        grid-column: 1fr;
    }

    .joibutton {
        color: gold;
        background-color: #112e42;
        border-radius: 15%;
        border: solid gold;
        font-family: Philosopher;
        margin: 20px;
        text-shadow: 0 0 30px rgb(248, 206, 151);
    }

    .joip {
        color: #112e42;
        font-family: Philosopher;
        font-size: large;
        text-align: center;
    }

    .her {
        grid-column: 3/6;
        grid-row: 1/3;
        background-color: white;
        height: 100%;
        width: 100%;
        border: solid antiquewhite;
        display: grid;
        grid-template-columns: 1fr;
    }

    .ne {
        grid-column: 3/6;
        grid-row: 3/4;
        background-color: #112e42;
        height: 100%;
        width: 100%;
        border: solid antiquewhite;
        display: grid;
        grid-template-columns: 1fr;
    }

    .neh2 {
        grid-column: 1/2;
        grid-row: 1;
        text-align: center;
        color: gold;
        font-family: Cinzel;
        font-size: large;
        text-shadow: 0 0 30px rgb(248, 206, 151);
    }

    .nep {
        color: antiquewhite;
        font-family: Philosopher;
        font-size: large;
        text-align: center;
        grid-column: 1/2;
        grid-row: 1;
        margin-top: 50px;
    }

    .sp {
        grid-column: 6/8;
        grid-row: 1/4;
        background-color: #112e42;
        height: 100%;
        width: 100%;
        border: solid antiquewhite;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr 1fr 1fr;
    }

    .sp1 {

        grid-column: 1/4;
        width: 95%;
        height: 95%;
        border: solid antiquewhite;
        grid-row: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: 20px 20px 20px 20px;


    }

    .s1h2 {
        text-align: center;
        grid-column: 1/8;
        color: antiquewhite;
        text-shadow: 0 0 30px rgb(248, 206, 151);
        grid-row: 1;
        font-family: cinzel;
        font-size: large;
    }

    .imgsp1 {
        grid-column: 2/4;
        margin-left: 7em;
        text-shadow: 0 0 30px rgb(248, 206, 151);
        grid-row: 1;
        margin-top: 3.5em;
        width: 40px;
        height: 40px;
    }

    .sp1h4 {
        grid-row: 2;
        grid-column: 1/8;
        color: antiquewhite;
        margin-top: 5em;
        font-family: Philosopher;
        font-size: large;
    }

    .sp1hr {
        grid-row: 2;
        grid-column: 1/7;
        width: 96%;
        margin-top: 8em;
    }

    .sp1p {
        grid-row: 3;
        grid-column: 1/8;
        color: antiquewhite;
        margin-top: 6em;
        font-family: Philosopher;
        text-align: center;
        font-size: large;
    }

    .sp2 {
        grid-column: 1/4;
        width: 95%;
        height: 95%;
        border: solid antiquewhite;
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: 20px 20px 20px 20px;



    }

    .sp3 {
        grid-column: 1/4;
        width: 95%;
        height: 93%;
        border: solid antiquewhite;
        grid-row: 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: 20px 20px 20px 20px;


    }


    footer {
        background-color: #112e42;
        padding: 5px 0;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        max-width: 100%;
        margin: 0 auto;
        border-bottom: 1px solid #bbb;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 50px 50px 25px;
    }

    .flo {
        height: 100px;
        width: 100px;
        margin-top: .7rem;
        align-items: center;
        margin-top: 70px;
        margin-left: 16rem;
        grid-column: 1/2;
        grid-row: 1/2;
    }



    .hrf {
        grid-column: 1/8;
        grid-row: 3;
        color: antiquewhite;
        width: 100%;
    }

    .sjs {
        color: antiquewhite;
        font-family: Cinzel;
        grid-row: 4;
        grid-column: 2/8;
        margin-left: 160px;
    }

    #lastModified {
        color: antiquewhite;
        font-family: Cinzel;
        grid-row: 4;
        grid-column: 6/8;
        margin-left: 120px;
    }


    body {
        padding: 0;
        margin: 0;

    }

    header {
        background-color: #112e42;
        padding: 5px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
        border-bottom: 1px solid #bbb;
        display: grid;
        max-width: 100%;

    }

    .hh4 {
        color: antiquewhite;
        font-family: Cinzel;
        text-align: left;
        margin-left: 0;
        flex-direction: column;





    }

    .hlo {
        height: 130px;
        width: 150px;

        align-items: center;
        margin-left: 10rem;
    }

    .social {
        margin-right: 1.5rem;
        margin-right: 100px;

    }

    .social svg {
        width: 29px;
        height: auto;

    }

    .date,
    aside {
        margin: 0.5rem;
        border: 1px solid #bbb;
        padding: 0;
        background-color: #112e42;
        color: antiquewhite;
        grid-row: 2;
        grid-column: 1/5;
        text-align: center;
    }

    .pfo {
        color: antiquewhite;
        font-family: Cinzel;
        text-align: left;
        font-size: large;
        grid-column: 1/5;
        grid-row: 1;
        margin-left: 380px;
        margin-top: 40px;
    }

    .pinf {
        color: antiquewhite;
        font-family: Cinzel;
        text-align: left;
        font-size: large;
        grid-column: 4/8;
        grid-row: 1;
        margin-left: 140px;
        margin-top: 60px;
    }


    .imgh {
        grid-column: 1/2;
        height: 100%;
        width: 100%;
        grid-row: 1/2;


    }

    .fimg{
        width: 100%;
        height: 100%;
    }

    .heroh2 {
        text-align: center;
        color: #112e42;
        grid-column: 1/2;
        z-index: 1;
        height: 100%;
        width: 100%;
        grid-row: 1;
        font-family: Cinzel;
        font-size: x-large;

    }

    .herobut {
        color: antiquewhite;
        background-color: #112e42;
        z-index: 1;
        height: 40px;
        width: 230px;
        margin-left: 13em;
        margin-top: 20em;
        border-radius: 20%;
        border: solid antiquewhite;
        font-family: Philosopher;

    }


    
/*----------- DISCOVER PAGE --------------*/

.discomain{
    padding: 5px 0;
    display: block;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 3em;
    border-bottom: 1px solid #bbb;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 250px 250px 250px 200px;
    gap: 10px;
}





    .trudis{
        grid-row: 1;
        grid-column: 1/8;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 100px 50px;
      
        gap: 10px;
        background-color: #112e42;
    
        border: solid gold;
    
    }
    
    
    
    
     div.trudis picture img {
        height: 250px;
        width: 250px;
        object-fit: cover;
        object-position: center;
        box-shadow: 2px 2px 4px gold;
        grid-column: 1/2;
        grid-row: 1/3;
        margin: 10px;
      
    }
    picture img.in {
        animation: img-come-in 1s;
    }

    div.trudis picture img:hover{
        border-radius: 15px 150px;
    }

    
    @keyframes img-come-in {
        from {
            transform: scale(0.9);
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }
    
    
    .ptru{
        grid-row: 2;
        grid-column: 2/8;
        font-family:Philosopher ;
        color: antiquewhite;
        font-size: large;
      
    
    }
    
    .truh3{
        grid-column: 4/6;
            grid-row: 1;
            text-align: center;
            color: gold;
            font-family: Cinzel;
            font-size: large;
            text-shadow: 0 0 30px rgb(248, 206, 151);
            margin-top: 2em;
    }
    
    
    


    .tutru{
        grid-row: 2;
        grid-column: 1/8;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 100px 50px;
       margin-top: 5em;
        gap: 10px;
        background-color: #112e42;
    
        border: solid gold;
    
    }
    
    
    
    
 div.tutru picture img {
        height: 250px;
        width: 250px;
        object-fit: cover;
        object-position: center;
        box-shadow: 2px 2px 4px gold;
        grid-column: 1/2;
        grid-row: 1/3;
        margin: 10px;
      
    }

    div.tutru picture img:hover{
        border-radius: 15px 150px;
    }

    picture img.in {
        animation: img-come-in 1s;
    }
    
    @keyframes img-come-in {
        from {
            transform: scale(0.9);
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }
    
    
    .ptu{
        grid-row: 2;
        grid-column: 2/8;
        font-family:Philosopher ;
        color: antiquewhite;
        font-size: large;
      
    
    }
    
    .tuh3{
        grid-column: 4/6;
            grid-row: 1;
            text-align: center;
            color: gold;
            font-family: Cinzel;
            font-size: large;
            text-shadow: 0 0 30px rgb(248, 206, 151);
            margin-top: 2em;
    }
    
    
    .trupo{
        grid-row: 3;
        grid-column: 1/8;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 100px 50px;
       margin-top: 10em;
        gap: 10px;
        background-color: #112e42;
    
        border: solid gold;
    }


    div.trupo picture img {
        height: 250px;
        width: 250px;
        object-fit: cover;
        object-position: center;
        box-shadow: 2px 2px 4px gold;
        grid-column: 1/2;
        grid-row: 1/3;
        margin: 10px;
      
    }

    div.trupo picture img:hover{
        border-radius: 15px 150px;
    }

    picture img.in {
        animation: img-come-in 1s;
    }
    
    @keyframes img-come-in {
        from {
            transform: scale(0.9);
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }
    
    
    .pop{
        grid-row: 2;
        grid-column: 2/8;
        font-family:Philosopher ;
        color: antiquewhite;
        font-size: large;
      
    
    }
    
    .poh3{
        grid-column: 4/6;
            grid-row: 1;
            text-align: center;
            color: gold;
            font-family: Cinzel;
            font-size: large;
            text-shadow: 0 0 30px rgb(248, 206, 151);
            margin-top: 2em;
    }




    .trcul{
        grid-row:4;
        grid-column: 1/8;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 100px 50px;
       margin-top: 15em;
        gap: 10px;
        background-color: #112e42;
    
        border: solid gold;
    }


    div.trcul picture img {
        height: 250px;
        width: 250px;
        object-fit: cover;
        object-position: center;
        box-shadow: 2px 2px 4px gold;
        grid-column: 1/2;
        grid-row: 1/3;
        margin: 10px;
      
    }

    div.trcul picture img:hover{
        border-radius: 15px 150px;
    }

    picture img.in {
        animation: img-come-in 1s;
    }
    
    @keyframes img-come-in {
        from {
            transform: scale(0.9);
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }
    
    
    .pcul{
        grid-row: 2;
        grid-column: 2/8;
        font-family:Philosopher ;
        color: antiquewhite;
        font-size: large;
      
    
    }
    
    .culh3{
        grid-column: 4/6;
            grid-row: 1;
            text-align: center;
            color: gold;
            font-family: Cinzel;
            font-size: large;
            text-shadow: 0 0 30px rgb(248, 206, 151);
            margin-top: 2em;
    }


    .trcli{
        grid-row: 5;
        grid-column: 1/8;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 100px 50px;
       margin-top: 20em;
        gap: 10px;
        background-color: #112e42;
    
        border: solid gold;
    }


    div.trcli picture img {
        height: 250px;
        width: 250px;
        object-fit: cover;
        object-position: center;
        box-shadow: 2px 2px 4px gold;
        grid-column: 1/2;
        grid-row: 1/3;
        margin: 10px;
      
    }

    picture img.in {
        animation: img-come-in 1s;
    }

    div.trcli picture img:hover{
        border-radius: 15px 150px;
    }
    
    @keyframes img-come-in {
        from {
            transform: scale(0.9);
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }
    
    
    .pcli{
        grid-row: 2;
        grid-column: 2/8;
        font-family:Philosopher ;
        color: antiquewhite;
        font-size: large;
      
    
    }
    
    .clih3{
        grid-column: 4/6;
            grid-row: 1;
            text-align: center;
            color: gold;
            font-family: Cinzel;
            font-size: large;
            text-shadow: 0 0 30px rgb(248, 206, 151);
            margin-top: 2em;
    }



    .visits{
        background-color: goldenrod;
        border-radius: 8px;
        box-shadow: 0 0 10px 3px #112e42;
        padding: 8px;
        position:fixed;
        bottom: 10px;
        right: 5px;
        z-index: 10;
        color: black;
        font-family: cinzel;
    }
    
    .visits p{
        margin: 10px;
    }
    

/*----------- JOIN PAGE --------------*/

.joinbody{
    background-color: antiquewhite;
}

.joih1{
    color: #112e42;
    text-align: center;
    font-family: cinzel;
    font-size: xx-large;
}



div.loaded form{
    background-color: #112e42;
    color: antiquewhite;
    margin: 1em 10vw;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 3px 8px 0px goldenrod;
    font-family:Philosopher ;

}
    
    
    .loaded {
        
        animation: fade-in 0.7s;
        }
        
        @keyframes fade-in {
            from {
                transform: scale(0.9);
                border-radius: 100%;
                opacity: 0.2;
            }
            to {
                transform: scale(1);
                border-radius: 15px;
                opacity: 1;    
            }
        }
    
    form fieldset label{
        display: block;
        margin: 1rem;
    }
    
    form .membership label{
        display: inline;
    }
    
    .input-box{
        width: 100%;
        padding: 10px .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: antiquewhite;
        border: 1px solid goldenrod;
        border-radius: 0.25rem;
        max-width: 500px;
        line-height: 1.5rem;
    }
    
    .input-box:focus{
        animation: border-color ease-in-out;
        border: 1px solid goldenrod;
        outline: none;
        transition: .15s;
        box-shadow: 0 0 15px 1px goldenrod;
    
    }
    @keyframes border-color {
        from {
            box-shadow: 0 0 1px 1px var(--blue);
        }
        to {
            border: 1px solid var(--blue);
            box-shadow: 0 0 15px 1px var(--blue);
        }
    }
    
    .submitBtn{
        border: none;
        padding: 1rem;
        background-color: goldenrod;
        cursor: pointer;
        margin: 1rem;
        font-size: 1rem;
        border-radius: 8px;
    }
    
    .submitBtn:hover{
        transition: 0.2s;
        background-color: goldenrod;
    }

    


}












