/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
p {
    margin: 0 2vw;
}

nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: gold;
}

nav {
    background-color: #112e42;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;




}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: antiquewhite;
    border-top: 1px solid goldenrod;
    align-items: flex-end;

}






nav ul li a:hover {
    background-color: rgb(62, 58, 36);

}



nav ul {
    display: none;
}

nav ul.open {
    display: block;
}



#banner-header {
    text-align: center;
    background-color: goldenrod;
    color: #112e42;
}

header {
    background-color: #112e42;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid #bbb;
    display: grid;

}

.hh4 {
    color: antiquewhite;
    font-family: Cinzel;
    text-align: left;

    flex-direction: column;





}

.hlo {
    height: 100px;
    width: 100px;

    align-items: center;
    margin-left: .7rem;
}

.social {
    margin-right: 1.5rem;
}

.social svg {
    width: 20px;
    height: auto;
}




.date {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0;
    background-color: #112e42;
    color: antiquewhite;
    grid-row: 2;
    grid-column: 1/5;
    text-align: center;
}


main {

    padding: 5px 0;
    display: block;
    align-items: center;
    justify-content: space-between;
    max-width: 950px;
    margin: 0 auto;
    border-bottom: 1px solid #bbb;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px 150px 150px;
    gap: 10px;
}


.her {
    grid-column: 1 / 8;
    grid-row: 1;
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
    border: solid antiquewhite;
    display: grid;
    grid-template-columns: 1fr;

}

.eve {
    grid-column: 1 / 8;
    grid-row: 2;
    background-color: #112e42;
    height: 100%;
    width: 100%;
    border: solid antiquewhite;
    display: grid;
    grid-template-columns: 1fr;
}



.eveh3 {
    width: 100%;
    grid-column: 1/2;
    text-align: center;
    color: antiquewhite;
    text-shadow: 0 0 30px rgb(248, 206, 151);
    font-family: cinzel;
    font-size: small;


}

.evep {
    color: antiquewhite;
    text-align: center;
    grid-column: 1/2;
    margin-bottom: 2em;
    font-family: Philosopher;
    font-size: small;
}

.beve {
    color: gold;

    font-family: Philosopher;

}

.weath {
    grid-column: 1/ 8;
    grid-row: 3;
    background-color: #112e42;
    height: 100%;
    width: 100%;
    border: solid antiquewhite;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.weah2 {
    text-align: center;
    grid-column: 1/8;
    color: antiquewhite;
    text-shadow: 0 0 30px rgb(248, 206, 151);
    grid-row: 1;
    font-family: cinzel;
    font-size: medium;

}



.sw,
#current-temp {
    color: red;
}

.pw {
    grid-column: 1/8;
    color: antiquewhite;
    margin-left: 5em;
    grid-row: 1;
    margin-top: 2em;
    font-family: philosopher;
    font-size: medium;
}

.ccw {
    color: antiquewhite;
    grid-column: 1/6;
    font-family: philosopher;
    grid-row: 1;
    margin-top: 3.5em;
    margin-left: 2em;
}

.iconw {
    grid-column: 2/5;
    grid-row: 1;
    margin-top: 3em;
    margin-left: 13em;
    color: silver;
    text-shadow: 0 0 30px silver;
    font-family: philosopher;
}

.spee {
    color: antiquewhite;
    font-family: philosopher;
    grid-column: 1/8;
    grid-row: 1;
    margin-top: 5.5em;
    margin-left: 2em;
}

.sspee {
    color: aqua;
}

.sspee2 {
    color: gold;
}


.will {
    color: antiquewhite;
    font-family: philosopher;
    grid-column: 1/8;
    grid-row: 1;
    margin-top: 7em;
    margin-left: 2em;
}




/*-----------  -------------
.weah1 {
    grid-column: 3;
    text-shadow: 0 0 30px rgb(248, 206, 151);
    grid-row: 2;
    font-size: medium;
    width: 40px;
    height: 40px;
}

.h1nuwea {
    grid-column: 4;
    color: antiquewhite;
    grid-row: 2;
    font-size: medium;
}

.weah4 {
    color: antiquewhite;
    grid-column: 4/8;
    grid-row: 2;
    margin-top: 2em;
    font-size: medium;
}

.weahr {
    grid-column: 1/8;
    grid-row: 2;
    width: 100%;
    margin-top: 4em;

}

.weap {
    grid-column: 1/8;
    grid-row: 3;
    color: antiquewhite;
    margin-bottom: 2em;
    font-size: small;
    text-align: left;
    margin-left: 5em;

}

#windChill {
    grid-column: 1/8;
    grid-row: 3;
    color: antiquewhite;
    margin-bottom: 2em;
    font-size: small;
    text-align: center;
    margin-left: 12em;

}

-*/
.ne {
    grid-column: 1 / 8;
    grid-row: 4;
    background-color: #112e42;

    height: 100%;
    width: 100%;
    border: solid antiquewhite;


}



.sp {
    grid-column: 1 / 8;
    grid-row: 5/7;
    background-color: #112e42;
    height: 100%;
    width: 100%;
    border: solid antiquewhite;

}

.sp1 {
    grid-column: 1;
    grid-row: 5/6;
    border: solid antiquewhite;
    margin: 10px;
    height: 45%;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 15px 15px 15px 15px;
}

.s1h2 {
    text-align: center;
    grid-column: 1/8;
    color: antiquewhite;
    text-shadow: 0 0 30px rgb(248, 206, 151);
    grid-row: 1;
    font-family: cinzel;
    font-size: small;
}

.imgsp1 {
    grid-column: 2/4;
    margin-left: 6em;
    text-shadow: 0 0 30px rgb(248, 206, 151);
    grid-row: 1;
    margin-top: 2.5em;
    width: 30px;
    height: 30px;
}

.sp1h4 {
    grid-row: 2;
    grid-column: 1/8;
    color: antiquewhite;
    margin-top: 4.5em;
    font-family: Philosopher;
    font-size: small;
    text-align: center;

}

.sp1hr {
    grid-row: 2;
    grid-column: 1/7;
    width: 96%;
    margin-top: 5.5em;
}

.sp1p {
    grid-row: 3;
    grid-column: 1/8;
    color: antiquewhite;
    margin-top: 6em;
    font-family: Philosopher;
    text-align: center;
    font-size: small;
}



.sp2 {
    grid-column: 1;
    grid-row: 6/7;
    border: solid antiquewhite;
    margin: 10px;
    height: 45%;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 15px 15px 15px 15px;
}

.sp3 {

    display: none;

}

.joi {
    grid-column: 1 / 8;
    grid-row: 5;
    background-color: antiquewhite;
    height: 0;
    width: 0;
    z-index: -1;
    color: transparent;
}


footer {
    display: flex;
    background-color: #112e42;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid #bbb;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 50px 50px 100px;
}

.flo {
    height: 100px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-left: 20px;
    grid-column: 2/6;
    grid-row: 1;
}

.hrf {
    grid-column: 1/8;
    grid-row: 4;
    color: antiquewhite;
    width: 100%;

}

.sjs {
    color: antiquewhite;
    font-family: Cinzel;
    grid-row: 5;
    grid-column: 1/8;
    margin-left: 15px;
    font-size: small;

}


.pfo {
    color: antiquewhite;
    font-family: Cinzel;
    text-align: left;
    font-size: smaller;
    grid-column: 1/8;
    grid-row: 2;
    margin-left: 30px;
    margin-top: 40px;
}

.pinf {
    color: antiquewhite;
    font-family: Cinzel;
    text-align: left;
    font-size: smaller;
    grid-column: 1/8;
    grid-row: 3;
    margin-left: 80px;

}

.date,
aside {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0;
    background-color: #112e42;
    color: antiquewhite;
    grid-row: 2;
    grid-column: 1/5;
    text-align: center;
}

.imgh {
    grid-column: 1/2;
    height: 9em;
    width: 100%;
    grid-row: 1;



}

.fimg {
    width: 100%;
    height: 100%;
}

.heroh2 {
    text-align: center;
    color: #112e42;

    grid-column: 1/2;
    z-index: 1;
    grid-row: 1;
    box-shadow: #112e42 5px;
    font-family: Cinzel;
    font-size: small;

}

.herobut {
    color: antiquewhite;
    background-color: #112e42;
    z-index: 1;
    height: 40px;
    width: 140px;
    margin-left: 11em;
    margin-top: 6em;
    border-radius: 20%;
    border: solid antiquewhite;
    font-family: Philosopher;
    grid-column: 1/2;
    grid-row: 1;
}

.neh2 {
    grid-column: 1/2;
    grid-row: 1;
    text-align: center;
    color: gold;
    font-family: Cinzel;
    font-size: smaller;
    text-shadow: 0 0 30px rgb(248, 206, 151);
}

.nep {
    color: antiquewhite;
    font-family: Philosopher;
    font-size: x-small;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1;
}


/*----------- DISCOVER PAGE --------------*/


.discomain {
    padding: 5px 0;
    display: block;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 3em;
    border-bottom: 1px solid #bbb;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 260px 260px 260px 260px 260px 150px;
    gap: 10px;
}

.trudis {
    grid-row: 1;
    grid-column: 1/8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 150px 50px;

    gap: 10px;
    background-color: #112e42;

    border: solid gold;

}



div.trudis picture img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    box-shadow: 2px 2px 4px gold;
    grid-column: 1/2;
    grid-row: 2;
    margin-top: 4.5em;
    margin-left: 10px;

}

picture img.in {
    animation: img-come-in 1s;
}

@keyframes img-come-in {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


.ptru {
    grid-row: 2;
    grid-column: 2/10;
    font-family: Philosopher;
    color: antiquewhite;
    font-size: x-small;


}

.truh3 {
    grid-column: 2/8;
    grid-row: 1;
    text-align: center;
    color: gold;
    font-family: Cinzel;
    font-size: smaller;
    text-shadow: 0 0 30px rgb(248, 206, 151);
    margin-top: 2em;

}


.tutru {
    grid-row: 2;
    grid-column: 1/8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 150px 50px;
    margin-top: 4em;
    gap: 10px;
    background-color: #112e42;

    border: solid gold;

}




div.tutru picture img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    box-shadow: 2px 2px 4px gold;
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 4.5em;
    margin-left: 10px;

}

picture img.in {
    animation: img-come-in 1s;
}

@keyframes img-come-in {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


.ptu {
    grid-row: 2;
    grid-column: 2/10;
    font-family: Philosopher;
    color: antiquewhite;
    font-size: x-small;



}

.tuh3 {
    grid-column: 2/8;
    grid-row: 1;
    text-align: center;
    color: gold;
    font-family: Cinzel;
    font-size: smaller;
    text-shadow: 0 0 30px rgb(248, 206, 151);
    margin-top: 2em;
}


.trupo {
    grid-row: 3;
    grid-column: 1/8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 150px 50px;
    margin-top: 8em;
    gap: 10px;
    background-color: #112e42;

    border: solid gold;

}


div.trupo picture img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    box-shadow: 2px 2px 4px gold;
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 4.5em;
    margin-left: 10px;


}

picture img.in {
    animation: img-come-in 1s;
}

@keyframes img-come-in {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


.pop {
    grid-row: 2;
    grid-column: 2/10;
    font-family: Philosopher;
    color: antiquewhite;
    font-size: x-small;

}

.poh3 {
    grid-column: 2/8;
    grid-row: 1;
    text-align: center;
    color: gold;
    font-family: Cinzel;
    font-size: smaller;
    text-shadow: 0 0 30px rgb(248, 206, 151);
    margin-top: 2em;




}


.trcul {
    grid-row: 4;
    grid-column: 1/8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 150px 50px;
    margin-top: 12em;
    gap: 10px;
    background-color: #112e42;

    border: solid gold;

}


div.trcul picture img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    box-shadow: 2px 2px 4px gold;
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 4.5em;
    margin-left: 10px;
}

picture img.in {
    animation: img-come-in 1s;
}

@keyframes img-come-in {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


.pcul {
    grid-row: 2;
    grid-column: 2/10;
    font-family: Philosopher;
    color: antiquewhite;
    font-size: x-small;


}

.culh3 {
    grid-column: 2/8;
    grid-row: 1;
    text-align: center;
    color: gold;
    font-family: Cinzel;
    font-size: smaller;
    text-shadow: 0 0 30px rgb(248, 206, 151);
    margin-top: 2em;
}


.trcli {
    grid-row: 5;
    grid-column: 1/8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 150px 50px;
    margin-top: 16em;
    gap: 10px;
    background-color: #112e42;

    border: solid gold;
}


div.trcli picture img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    box-shadow: 2px 2px 4px gold;
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 4.5em;
    margin-left: 10px;
}

picture img.in {
    animation: img-come-in 1s;
}

@keyframes img-come-in {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


.pcli {
    grid-row: 2;
    grid-column: 2/10;
    font-family: Philosopher;
    color: antiquewhite;
    font-size: x-small;


}

.clih3 {
    grid-column: 2/8;
    grid-row: 1;
    text-align: center;
    color: gold;
    font-family: Cinzel;
    font-size: smaller;
    text-shadow: 0 0 30px rgb(248, 206, 151);
    margin-top: 2em;
}

.visits {
    background-color: goldenrod;
    border-radius: 8px;
    box-shadow: 0 0 10px 3px #112e42;
    padding: 8px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    color: black;
    font-family: cinzel;
    font-size: small;
}

.visits p {
    margin: 10px;
}

/*----------- JOIN PAGE --------------*/

.joinbody {
    background-color: antiquewhite;
}

.joih1 {
    color: #112e42;
    text-align: center;
    font-family: cinzel;
    font-size: small;
}

.red {
    color: red;
}

div.formjoi form {
    background-color: #112e42;
    color: antiquewhite;
    margin: 0.5em;
    padding: 1rem;

    box-shadow: 0 3px 8px 0px goldenrod;
    font-family: Philosopher;
    width: 96%;

}





form fieldset label {
    display: block;
    margin: 1rem;
}

form .membership label {
    display: inline;
}

.input-box {
    width: 100%;
    padding: 10px .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: antiquewhite;
    border: 1px solid goldenrod;
    border-radius: 0.25rem;
    max-width: 500px;
    line-height: 1.5rem;
}

.input-box:focus {
    animation: border-color ease-in-out;
    border: 1px solid goldenrod;
    outline: none;
    transition: .15s;
    box-shadow: 0 0 15px 1px goldenrod;

}


.submitBtn {
    border: none;
    padding: 1rem;
    background-color: goldenrod;
    cursor: pointer;
    margin: 1rem;
    font-size: 1rem;
    border-radius: 8px;
    color: #112e42;
}

.submitBtn:hover {
    transition: 0.2s;
    background-color: goldenrod;
}

.tankbody {
    background-color: white;
}

.thankyou {
    text-align: center;
    padding: 2em;
    font-family: philosopher;
    font-size: small;
    background-color: #112e42;
    border-radius: 5%;
    margin: 2em;
    color: antiquewhite;
    text-shadow: 0 0 30px goldenrod;
    border: 5px solid goldenrod;


}


.bronze {
    color: rgb(184, 134, 9);
    text-shadow: 0 0 30px rgb(184, 134, 9);
}

.silver {
    color: silver;
    text-shadow: 0 0 30px silver;
}

.gold {
    color: gold;
    text-shadow: 0 0 30px gold;
}

/* Directory */
.directorymenu {
    margin-top: 15px;
    background-color: #112e42;
    text-align: center;
}




.directorymenu button {
    background-color: goldenrod;
    color: antiquewhite;
    font-family: philosopher;
    height: 2em;
    width: 5em;
    margin: .5em;
    border-radius: 15px;
}

.directorymenu,
section {
    background-color: #112e42;
    padding: 1.2rem;
    text-align: center;
    border-radius: 5px;
    border: 5px solid goldenrod;
    margin: 5px;
}

article.cards img {
    border-radius: 5px;
    text-shadow: 2px 2px 4px goldenrod;
    width: 50%;
    height: 50%;
}

article.grid {
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: .5rem;
    background-color: antiquewhite;
}

section a,
.spots h3 {
    word-wrap: break-word;
}






p {
    color: antiquewhite;
    font-family: philosopher;
}

a {
    color: goldenrod;
    font-family: philosopher;
}

article.cards h2 {
    color: goldenrod;

    font-family: philosopher;
}

.dirh1 {
    color: goldenrod;
    font-family: cinzel;
    text-align: center;
    font-size: medium;

}

article.cards h4 {
    color: goldenrod;

    font-family: philosopher;
}

.wireframes {
    justify-content: center;
    text-align: center;
    align-content: center;
}

.wireh1 {
    color: goldenrod;
    font-family: cinzel;
    text-align: center;
    font-size: medium;
}

.largeca {
    width: 60%;
    height: 60%
}

.mediumca {
    width: 60%;
    height: 60%
}