
.content{
    display: grid;
    grid-template-columns: 1fr;
}



.gray{
    width: 200px;
    height: 220px;
    background-color: gray;
    grid-column: 1/2;
    grid-row: 1/3;
    margin-left: 190px;
    

}

.h1{
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 1;
    font-size: xx-large;
    
}

.image{
    grid-column: 1/2;
    grid-row: 1/4;
    
    
   
}

.h1rojo{
    grid-column: 1/2;
    grid-row: 2/3; 
    z-index: 1;
    color: rgb(174, 25, 25);
    margin-left: 220px;
}

