

nav {
    background-color: steelblue;
    padding: 10px;
    text-align: center;
}

a {
    color: white;
    margin: 40px;
}

h1 {
    color: steelblue;
    text-align: center;
}

image {
    width: 800px;
    border: 4px solid steelblue;
}

p {
    padding: 10px;
}

footer {
    background-color: steelblue;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#active {
    background-color: white;
    color: steelblue;
}

img {
    width: 80%;
    display:block;
    margin: 0 auto;
}

p {
    width: 80%;
}

a {
    font-size: 1.5em;
}

