$fonts-headline: "arial narrow", Arial, Verdana, sans-serif;
$fonts-body: verdana, arial, sans-serif;
$background-color: #ffffff;
$primary: #52C7C3 ;
$accent1: #669190;
$accent2: #4cbc79;
$grey-sidebar: #FA9BB7;
$text-dark: #fff7f7 ;
$text-light: #fff;
$section-color:#6c9593;
$lcolor:#FA9BB7;